body {
  font-family: sans-serif;
  margin: 0px;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

.actions {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ccc;
}

.actions-header {
  font-weight: bold;
  margin-bottom: 2px;
}

.action {
  margin-left: 2p0;
  font-size: 10pt;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}
